*{margin: 0px;padding: 0px;}
img{border: 0px}
ul,li{list-style: none;}
a{text-decoration: none;}

/*
#txtUserid{width: 100px;height: 20px;}
#txtUserPwd{width: 100px;height: 20px;}*/

#foreground{width: 400px;height: 400px;border: 1px solid #ccc;margin:0 auto;margin-top: 100px;}

#personalinfo{width: 250px;height: 80px;border: 1px solid #ccc;position: absolute;left: 0;top: 60px;margin-left: 15px;border-top-left-radius: 7px;border-top-right-radius: 7px;}


#onlinefriendslist{width: 250px;height: 400px;position: absolute;left: 0;top: 140px;border: 1px solid #ccc;border-bottom-left-radius: 7px;border-bottom-right-radius: 7px;margin-left: 15px;}

.mymessage{width: 230px;height: 60px;padding: 10px;float: left;display: block;background-color: #17b4eb;border-top-left-radius: 7px;border-top-right-radius: 7px;}
.mymessage img{float: left;display: block;border-radius: 25px;}
.myHeadImage{width: 60px;height: 60px;}
.myxinxi{width: 150px;height: 60px;float: left;display: block;padding-left: 10px;}
.mynicheng{height: 20px;line-height: 20px;width: 150px;float: left;font-size: 14px;font-family: 楷体;}
.myshuoshuo{height: 20px;line-height: 20px;width: 150px;float: left;font-size: 14px;font-family: 楷体;}

.friendli{height: 80px;display: block;float: left;border-bottom: 1px solid #ccc;}
.friHeadImage{width: 60px;height: 60px;padding: 10px;}
.friendli img{float: left;display: block;}
.message{width: 150px;height: 60px;padding: 10px;float: left;display: block;}
.mesnicheng{height: 20px;line-height: 20px;width: 200px;float: left;font-size: 15px;font-family: 楷体;}
.messhuoshuo{height: 20px;line-height: 20px;width: 200px;float: left;font-size: 15px;font-family: 楷体;}
.messtate{height: 20px;line-height: 20px;width: 200px;float: left;font-size: 15px;font-family: 楷体;}

#chatdiv{widows: 900px;height: 550px;border:1px solid #ccc;display: none;border-radius: 15px;position: absolute;left: 350px;top: 100px;}
#chatTitle{height: 60px;line-height: 20px;padding: 20px 0 20px 0;text-align: center;font-size:14px;font-weight:bold;color: #fff;text-shadow:1px 1px 1px #fff;background-color: #bbb;}









/*右侧*/
#talkContainer{width: 700px; height: 100%; margin-left: 20px;float: left;position: relative;} 
#chatPanel{display: block; width: 100%;height: 80%;top: 12%;left: 0;position: absolute; z-index: 9999;border:1px solid #ccc;border-radius: 7px;}

#panelHeader{width: 100%;height: 45px; border-radius: 6px 6px 0 0;position: relative;cursor: default; background-color: #17b4eb;}
#panelLeftButton{width: 51px;height: 19px;padding: 6px 10px;border-radius: 5px;margin: 5px 0 7px 15px;float: left;position: relative;cursor: pointer; }
#panelLeftButtonI{ width: 14px; height: 14px; margin: 0 4px;display: block;background-image: url("../image/pannel-arrow-down.png");background-size: 100% 100%;}

#panelTitle{ display: block; width:471px; height: 18px;padding: 13.5px 30px 13.5px 20px;float: left;text-align: center;font-size: 18px;color: #fff;line-height: 18px;font-weight: normal;}
#panelRightButton{cursor: pointer; width: 57px;height: 19px;padding: 6px 10px; vertical-align : center; border-radius: 5px;margin: 5px 10px 7px 2px;float: left;position: relative; }
#panelRightButtonI{  max-width: 100px; width: auto; height: 14px; line-height: 18px;  text-align: center; display: block;font-size: 14px;color: #fff;}

#panelBodyWrapper{ width: 100%;position: absolute;top: 45px; bottom: 50px; left: 0;height: auto; overflow: hidden;}
#panelBodyBox{  width: 100%; height: 440px;position: relative;background: rgba(250,250,250,1); overflow: auto;}
.chatTime{ text-align: center;width: 100%; height: 37px; }
.chatTime span{color: rgba(255,255,255,0.8);background: rgba(0,0,0,0.3);padding: 2px 8px;display: inline-block;margin: 10px;font-size: 13px;border-radius: 8px;}
.chatContentSelf{text-align: right;padding: 10px;width: 660px;height: auto;}
.chatContentOther{text-align: left;padding: 10px;width: 660px;height: auto;}
.chatContentSelf .avatarImg{ width: 40px; height: 40px;border-radius: 50%; margin-left: 10px;float: right;}
.chatContentOther .avatarImg{ width: 40px; height: 40px;border-radius: 50%;margin-right: 10px;float: left;}
.chatContentSelf .chatNick{font-size: 12px;margin: 0 0 10px;width: 100%;height: 12px; line-height: 12px;text-align:right;}
.chatContentOther .chatNick{font-size: 12px;margin-left: 5px; margin-bottom: 10px; width: 100%;height: 12px;line-height: 12px;text-align: left;}
.chatContent{position: relative; text-align: left; display: inline-block; min-height: 16px;max-width: 70%;color: #333; background-color: #17b4eb;border-radius: 10px;padding:3px 10px;word-break: break-all;line-height: 1.4; }
.chatContentsanjiao{width: 4px; height: 4px; border-radius: 4px; border:1px solid #17b4eb; background-color: #fff; position: absolute; left: -6px; top: -6px; z-index: 0;}



.pannelMenuList{position: absolute;width: 100%;height: 80px;z-index: 1000; left: 0;top: 45px;overflow: hidden;background-color:rgb(199,237,233); display: none;}
.pannelMenuList li {height: 80px;width: 80px;text-align: center;float: left;font-size: 12px;cursor: pointer;color: #333;}
.menuListIcon{width: 40px;height: 40px;margin: 10px auto 5px;background-image: url("image/menu_icons.png");background-repeat: no-repeat;}
.menuListIcon1{background-position: -128px 3px;}
.menuListIcon2{background-position: -43px 2px;}
.menuListIcon3{background-position: -90px 2px;}


#setupPanel{display: none; width: 100%;height: 80%;top: 12%;left: 0;position: absolute; z-index: 9999;}
#setuppanelHeader{width: 100%;height: 45px; border-radius: 6px 6px 0 0;position: relative;cursor: default; background-color: #17b4eb;}
#setuppanelLeftButton{width: 51px;height: 19px;color: #fff; padding: 6px 10px;border-radius: 5px;margin: 5px 0 7px 15px;float: left;position: relative;cursor: pointer; }
#setuppanelLeftButton a{float: left; width: 28px; height: 19px; display: block; font-size: 14px;}
#setuppanelLeftButtonI{transform:rotate(90deg);float: left; width: 14px; height: 14px; margin:4px 5px 0 0 ;display: block;background-image: url("../image/pannel-arrow-down.png");background-size: 100% 100%;}
#setuppanelTitle{ display: block; width:471px; height: 18px;padding: 13.5px 30px 13.5px 20px;float: left;text-align: center;font-size: 18px;color: #fff;line-height: 18px;font-weight: normal;}
#setuppanelBodyWrapper{ width: 100%;position: absolute;top: 45px; bottom: 0px; left: 0;height: auto;}
#setuppanelBodyBox{  width: 100%; height: 100%;position: relative;background: #ededed; overflow: auto; }
#setuppanelBodyBox .group{background-color:#ededed; }
.setupRow1{height: 40px; overflow: hidden; line-height: 22px;border-radius: 5px 5px 0 0;}
.setupRow2{height: 40px; overflow: hidden; line-height: 22px;border-radius: 0 0 5px 5px; border-top: 0;}
.setupRow3{height: 60px; overflow: hidden; line-height: 22px;}
.setupRow4{height: 40px; overflow: hidden; line-height: 22px;}
.lable{width: 80px; color: #666; float: left; display: block;}

.switch{outline: none; width: 56px;height: 24px; display: inline-block; position: relative; float: right;}
.checkBoxStyle{outline: none; width: 100%; height: 100%; box-sizing:border-box; margin: 0; cursor: pointer; border-radius: 96px; -webkit-appearance:none; }
.switch-white input{background-image: linear-gradient(#d0d0d0,#dfdfdf);}
.switch-white span{background-image: linear-gradient(#fff,#f1f1f1);}
.switch span{position: absolute; top: 0; left: 30px; margin-top: 1px; width: 22px; height: 22px; border-radius:25px; pointer-events:none; transition: left .1s linear }
.switch-white input:checked{background-image: linear-gradient(#5393c5,#6facd5);}
.switch input:checked~span {left: 3px;}
.setupRow3 p{color: #666; width: 100%; height: 50%;}
.setupRow3 p .huanhangLable{float: left; display: block; width: 100%; text-align: left;}
.setupRow4 .huanhangLable{float: left; display: block; width: 80%; color: #666; text-align: left;}

#panelFooter{ width: 100%; height: 50px; position: absolute; left: 0;bottom: 0;border-radius: 0 0 6px 6px;background-image: linear-gradient(rgb(220,220, 220), rgb(150, 150, 150));}
.chat_toolbar{ width: 100%; height: 100%;padding: 3px 10px 5px 6px;box-sizing: border-box;}
.addFaceBtn{width: 38px; height: 32px; padding: 5px; float: left;}
.addFaceBtnImg{width: 30px;height: 30px; margin: 0 4px; display: block; background-size: 100% 100%; cursor: pointer; background-image: url("image/chat_bottombar_icon_face.png"); }
.chatInputArea{outline: none; width: 550px; height: 22px; margin: 5px 10px 5px 6px; padding: 5px 10px; display: block; border-radius: 5px; resize:none; overflow:hidden; float: left;}
.sendMessageBtn{outline: none; width: 46px; height: 30px;padding: 6px 10px;color: #fff; font-size: 12px; margin: 7px 0; background-color: #17b4eb; float: left;display: block;vertical-align: middle; border-radius: 5px; border: 0;}



/*表情*/
.qq_face_area {display: block;width: 700px;text-align: center;margin: 0 auto;overflow: hidden;width: 100%;text-align: center;
	margin: 0 auto;overflow: hidden;cursor: pointer;}

.wrap {width: 1000px;height: 100%;margin: 0 auto;-webkit-transition: all 0.2s ease-out;}
.qq_face_area .wrap li {list-style: none;height: 280px;float: left;display: none; }
.faceIteam {width: 700px;background-size: 100% 60%; list-style: none;height: 144px;float: left;background-repeat: no-repeat;}
.faceIteam1 {background-image: url("image/1.jpg");}
.faceIteam2 {background-image: url("image/2.jpg");}
.faceIteam3 {background-image: url("image/3.jpg");}
.faceIteam4 {background-image: url("image/4.jpg");}
.faceIteam5 {background-image: url("image/5.jpg");}
.faceIteam6 {background-image: url("image/6.jpg");}
.qq_face_area .wrap .selectedFace{display: block;}
.btnsWrap {padding: 0 0 10px 0px;background: rgba(34,34,34,.7);}
.qq_face_area ul li i {width: 99px;height: 55px;display: block;float: left;}
.qq_face_area ul li i:hover{border: 1px solid #5f9cc5;}
.btnsWrap {padding: 0 0 10px 290px; height:15px;  background: rgba(34,34,34,.7);}
.btnsWrap>li {float: left;list-style-type: none;margin: 5px 10px 0 0;padding: 2px;width: 10px;height: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;-ms-border-radius: 10px;border-radius: 10px;background: gray;}
.btnsWrap>li.selected {background: #000;}










/*Right end*/













